*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
   height:100vh;
   width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;

   background-image:url(../images/th.jpeg);
   background-size: cover;
}

h1{
    margin-bottom:650px;
    margin-left:400px;
}
.calculator{
   padding: 20px;
   border:2px solid black;
   border-radius:16px;
   background:rgba(0,0,0,0.5) ;
   box-shadow:0px 3px 15px rgba(0,0,0,0.5);
  
}
input{
    width:280px;
    margin:10px;
    padding: 20px;
    background: rgba(255,255,255,0.3);
    box-shadow:0px 0px 8px rgba(0,0,0,0.4);
    color:#fff;
    border-radius:5px;
    font-size:2rem;
    text-align:right;
}

input::placeholder{
     background-color:#e1eacd;
} 

button{
   width:50px;
   height:50px;
   margin:10px;
   background:rgba(0,0,0,0.7);
   color: #fff;
   border-radius:25px;
   font-size:1rem;
}
.operator, .ac , .del{
    color: #f67c14;
}
.equalBtn{
    background-color:#f67c14;
    color:#fff;
}
 
button:hover{
    background-color: #f67c14;
    color:#fff;
}

